/* You can add global styles to this file, and also import other style files */

// Colors
$background: var(--background);
$titleColor: var(--title-color);

html, body {
  height: 100%;
}

body {
  background: $background;
  transition: 0.2s background-color ease;
}

h1 {
  text-align: center;
  color: $titleColor;
  transition: 0.2s color ease-in-out;
}
